<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head')%>
  </head>
  <body>
    Login
    <p class="error-message"><%= errorMessage %></p>
    <form method="post" action="/user/login<%= redirect %>">
      <div class="form-group">
        <label for="email">email</label>
        <input
          class="<%= errors?.email ? 'input-error' : '' %>"
          type="text"
          name="email"
          value="<%= values.email %>"
          placeholder="Email"
        />
        <span class="input-error-message"><%= errors?.email %></span>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          class="<%= errors?.password ? 'input-error' : '' %>"
          type="password"
          name="password"
          value="<%= values.password %>"
          placeholder="Password"
        />
        <span class="input-error-message"><%= errors?.password %></span>
      </div>

      <button type="submit">Login</button>

      <p>
        New user?
        <a href="/user/register<%= redirect %>">Login</a>
      </p>
    </form>
  </body>
</html>
